@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FiraGO-Regular.woff2") format('woff2')
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inconsolata-Regular.woff2") format('woff2')
}

:root {
    --ydb-orange: #ff7f27;
    --ydb-purple: #3b1a68;
    --ydb-lightgray: #f3f3f3;
    --ydb-darkgray: #231f20;
    --ydb-status-red: #ce3a3a;
    --ydb-status-amber: #eab83b;
    --ydb-status-green: #64a555;
}

html, body {
    width: 100%;
    font-family: 'FiraGO', sans-serif;
    color: var(--ydb-purple)

}

table {
    margin: 0 auto;
    width: 800px;
}

table tr {
    text-align: center;
    padding: 5px;
}

table td {
    text-align: center;
    padding: 5px;
}

pre {
    font-family: 'Inconsolata', sans-serif;
    border: 1px solid silver;
}

.tabs-buttons {
    font-size: 24px;
}

.threenplus1-table {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--ydb-purple);
    border: 1px silver solid;
}

.threenplus1-table thead tr {
    font-size: 18px;
    font-weight: 600;
}

.threenplus1-table thead th {
    border: 1px silver solid !important;
    color: var(--ydb-orange);
    background: var(--ydb-purple)
}

.threenplus1-table tbody tr {
    font-size: 14px;
}

.threenplus1-table tbody td {
    border: 1px silver solid !important;
}

.threenplus1-table-link {
    text-decoration: underline;
}

.threenplus1-table-link:hover {
    cursor: pointer;
    color: var(--ydb-orange);
}

.check-boxes {
    height: 20px;
    width: 20px;
}

.check-box-header {
    height: 20px;
    width: 20px;
}

.center {
    display: block;
    text-align: center;
}

.bg-ydb-red {
    background-color: var(--ydb-status-red)
}

.bg-ydb-green {
    background-color: var(--ydb-status-green)
}
