<div style="padding: 20px; height: 100%;">

    <!--
    <div style="padding-bottom: 20px; text-align: center">
        <h1 class="font-weight-bold">3n+1 Performance comparison</h1>
    </div>

    <hr style="margin-top: 0;">
    -->

    <div style="height: 90px; padding-top: 10px;">
        <div class="row">
            <div class="col-2">
                <label class="font-weight-bold">Input size:</label>
                <select class="form-control form-control-sm" id="selThreeNSize">
                    <option value="10000">10,000</option>
                    <option value="100000">100,000</option>
                </select>
            </div>
            <div class="col-2">
                <label class="font-weight-bold">No of workers:</label>
                <select class="form-control form-control-sm" id="selThreeNWorkers">
                    <option value="1">1</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                    <option value="32">32</option>
                    <option value="48">48</option>
                </select>
            </div>
            <div class="col-4" style="text-align: left;">
                <div style="display: flex;">
                    <br>

                    <button class="btn btn-block btn-outline-primary" id="btnThreeNRun" style="margin-top: 25px;" type="button">Run...</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-block btn-outline-primary disabled" disabled id="btnThreeNChart" style="margin-top: 25px;" type="button">Chart...</button>
                </div>
            </div>
        </div>
    </div>

    <hr style="padding-top: 0;">

    <div style="width: 100%; overflow: auto; height: 100%;">
        <table class=" table threenplus1-table" id="tbl3nplus1" style="height: 520px;">
            <thead>
            <tr>
                <th style="width: 40px;"><input class="check-box-header" id="chkThreeNAll" type="checkbox"></th>
                <th style="width: 87px;">Language</th>
                <th style="width: 100px;">Connection type</th>
                <th style="width: 85px;">Database</th>
                <th style="width: 220px;">Command line</th>
                <th style="width: 250px;">Run time (secs)</th>
                <th style="width: 120px;">Longest sequence</th>
                <th style="width: 120px;">Largest number</th>
                <th style="width: 120px;">No. of updates</th>
                <th style="width: 120px;">No. of reads</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- FOOTER -->
    <div style="height: 75px; padding: 10px; font-size: 13px;">
        <div class="row">
            YottaDB® is a registered trademark of YottaDB LLC.
            <br>
            Xider™ is a trademark of YottaDB LLC.
            <br>
            Redis® is a registered trademark of Redis Ltd. Any rights therein are reserved to Redis Ltd. Any use by YottaDB LLC is for referential purposes only and does not indicate any sponsorship,
            endorsement or affiliation between Redis and YottaDB.
        </div>
    </div>

</div>
