<div><!-- dlgChart dialog -->
    <div aria-hidden="true" aria-labelledby="modalLabel modal-scrollable" class="modal fade" id="modalChart" role="dialog"
         tabindex="-1">
        <div class="modal-dialog " role="document" style="max-width: 1000px;">
            <div class="modal-content " style="top: 10px;">
                <div class="modal-header" style="cursor: grab;">
                    <label class="modal-title">Performance chart (smaller is better)</label>
                    <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="chart" style="padding-top: 20px; height: 500px;"></div>
                </div>

                <div class="modal-footer center">
                    <button class="btn btn-outline-success" data-dismiss="modal" id="btnChartClose" tabindex="10" type="button">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
