<div><!-- dlgRun dialog -->
    <div aria-hidden="true" aria-labelledby="modalLabel modal-scrollable" class="modal fade" id="modalRun" role="dialog"
         tabindex="-1">
        <div class="modal-dialog " role="document" style="width: 350px">
            <div class="modal-content " style="top: 104px;">
                <div class="modal-header" style="cursor: grab;">
                    <label class="modal-title" id="modalStatsPidsTitle">Executing jobs</label>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            Running script <span id="lblRunCurrentNumber">1</span> of <span id="lblRunTotal">5</span>:&nbsp;<br>&nbsp;<span id="lblRunCurrentScript">blablabla</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <div class="progress">
                                <div class="progress-bar" id="progRun" role="progressbar" style="width: 25%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer center">
                    <button class="btn btn-outline-danger" id="btnRunAbort" tabindex="10" type="button">
                        Abort
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
