<div style="padding-top: 10px;">
    <table>
        <tr style="text-align: center;">
            <td colspan="5" style="text-align: center;">
            <span style="text-align: center;">
                <img alt="MGateway Logo" src="/img/mgw_logo.latest.png" style="padding: 5px 20px;" width="250">
		        <img alt="Fourth Watch Software Logo" src="/img/fws-logo-horizontal.png" style="padding: 5px 20px;" width="250">
                <br>
                <h2>YottaDB vs Redis Node.js Performance test</h2>
            </span>
            </td>
        </tr>

        <tr style="color: var(--ydb-orange)">
            <td><h4><a href="benchmarks/benchmark_mgdbxnapi.mjs">YottaDB mg-dbx-napi API</a></h4></td>
            <td><h4><a href="benchmarks/benchmark_redis_pl.mjs">Redis-Parallel</h4></td>
            <td><h4><a href="benchmarks/benchmark_redis.mjs">Redis-Serial</td>
            <td><h4><a href="benchmarks/benchmark_nodem.js">YottaDB NodeM</td>
            <td><h4><a href="benchmarks/benchmark_mgdbxnapi_nw.mjs">YottaDB MGX Network API</td>
        </tr>

        <tr style="border: 1px solid black;">
            <td>
                <button id="mgx">Time me</button>
            </td>
            <td>
                <button id="redis-par">Time me</button>
            </td>
            <td>
                <button id="redis-ser">Time me</button>
            </td>
            <td>
                <button id="nodem">Time me</button>
            </td>
            <td>
                <button id="mgxnw">Time me</button>
            </td>
        </tr>
        <tr>
            <td>
                <pre id="mgx-pre"></pre>
            </td>
            <td>
                <pre id="redis-par-pre"></pre>
            </td>
            <td>
                <pre id="redis-ser-pre"></pre>
            </td>
            <td>
                <pre id="nodem-pre"></pre>
            </td>
            <td>
                <pre id="mgxnw-pre"></pre>
            </td>
        </tr>
    </table>
</div>
